NODE_ENV=development
PORT=3000
JWT_SECRET=
USERS_SERVICE_URL=http://localhost:3005
PRODUCTS_SERVICE_URL=http://localhost:3006
CHECKOUT_SERVICE_URL=http://localhost:3007
PAYMENTS_SERVICE_URL=http://localhost:3008
ALLOWED_ORIGIN=*
