NODE_ENV=development
PORT=3008
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/payments_db
JWT_SECRET=your-secret-here
JWT_EXPIRES_IN=1d

# Serviços
CHECKOUT_SERVICE_URL=http://localhost:3007
API_GATEWAY_URL=http://localhost:3000

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@localhost:5672
RABBITMQ_QUEUE_PAYMENTS=payment_queue
RABBITMQ_EXCHANGE=payments
